<div class="input-container">
  <label class="input-label {{{labelClass}}}">
    {{{labelText}}}
    <input
        type={{{inputType}}}
        class="input {{{inputClass}}}"
        name={{{inputName}}}
    >
  </label>
</div>
