<div class="chat-component">
  <div class="chat-component__chat-image">
    {{{chatImage}}}
  </div>
  <div class="chat-info">
    <div class="chat-info__chat-name">
      {{{chatName}}}
    </div>
    <div class="chat-info__chat-name">
      {{{previewMessage}}}
    </div>
  </div>
  <div class="message-info">
    <div class="message-info__date">
      {{{date}}}
    </div>
    <div class="message-info__unread-message">
      {{{unreadMessageNumber}}}
    </div>
  </div>
</div>
